body {
    background-color: lightyellow;
    text-align: center;
}

button {
    border: 0;
    padding: 20px 40px;
    background-color: orange;
    border-radius: 3px;
    font-size: 1.2em;
    margin: 3px;
}


/* .map {} */

.weather-container {
    width: 300px;
    height: 300px;
    border: 2px solid gray;
}


/* FLEX */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}