body {
    background-color: lightyellow;
    text-align: center;
}

button {
    border: 0;
    padding: 20px 40px;
    background-color: orange;
    border-radius: 3px;
    font-size: 1.2em;
    margin: 3px;
}